language: cpp
matrix:
  include:
    - compiler: clang
      before_install: ./buildbot/travis-checkout.sh
      script: ./buildbot/travis-test.sh
    - python: 2.7
      language: python
      install: pip install flake8
      script: flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics
    - python: 3.7
      language: python
      dist: xenial  # required for Python >= 3.7 (travis-ci/travis-ci#9069)
      install: pip install flake8
      script: flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics
    - language: shell
      install:
        - shellcheck --version  # Travis defaults to v0.4.6
        - wget -qO- "https://storage.googleapis.com/shellcheck/shellcheck-stable.linux.x86_64.tar.xz" | tar --xz -xvz
        - shellcheck-stable/shellcheck --version  # Current is v0.6.0
      script: bash -c 'shopt -s globstar ; shellcheck-stable/shellcheck **/*.{sh,ksh,bash}'
  allow_failures:
    - python: 3.7
    - language: shell
os:
  - linux
branches:
  only:
  - master
