python-setup-steps: &python-setup-steps
  language: python
  install:
    - pip install pipenv
    - pipenv install --dev
    - sudo apt-get install ninja-build

matrix:
  include:
    - name: "test with ninja on python 2.7"
      python: '2.7'
      compiler: clang
      <<: *python-setup-steps
      script: pipenv run -v test -f ninja

    - name: "test with make on python 2.7"
      python: '2.7'
      compiler: clang
      <<: *python-setup-steps
      script: pipenv run -v test -f make

    - name: "lint with python 2.7"
      python: '2.7'
      <<: *python-setup-steps
      script: pipenv run -v lint

    - name: "lint with python 3.7"
      python: '3.7'
      dist: xenial  # required for Python >= 3.7 (travis-ci/travis-ci#9069)
      <<: *python-setup-steps
      script: pipenv run -v lint

    - name: "lint shell scripts"
      language: shell
      install:
        - shellcheck --version  # Travis defaults to v0.4.6
        - wget -qO- "https://storage.googleapis.com/shellcheck/shellcheck-stable.linux.x86_64.tar.xz" | tar -xJv
        - shellcheck-stable/shellcheck --version  # Current is v0.6.0
      script: bash -c 'shopt -s globstar ; shellcheck-stable/shellcheck **/*.{sh,ksh,bash}'

    - name: "test with make on windows"
      os: windows
      language: node_js  # 'python' is not yet supported
      install:
        - choco install nvs python
        - py -m pip install pipenv
        - py -m pipenv install --dev
      script:
        - py -m flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics
        - py -m pipenv run -v test -f make
  allow_failures:
    - os: windows
    - python: '3.7'
    - language: shell

notifications:
  slack: node4good:C2EI9vo04FY8Ce5u7kcOLlDw
